@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider _authState;
@using System.Security.Claims

<div class="fro-sidebar @(_isCollapsed ? "fro-sidebar--collapsed" : "")" style="z-index: 1; position: fixed; top: 4%; height: 95%; padding-top: 30px;">
    <div class="fro-sidebar__top">
        <nav class="fro-sidebar__navigation">
            <a class="fro-list-item" href="/">
                <i class="fro-icon fro-icon--fixed fro-list-item__icon">chart-line-down</i>
                <div class="fro-list-item__label">Übersicht</div>
            </a>

            <div @onclick="ToggleUserManagement" class="fro-list-item-group @(_userManagementCollapsed ? "fro-list-item-group--collapsed" : "")">
                <div class="fro-list-item">
                    <i class="fro-list-item__icon fro-icon fro-icon--fixed">user</i>
                    <div class="fro-list-item__label">Nutzer verwaltung</div>
                    <i class="fro-list-item__after fro-icon">@(_userManagementCollapsed ? "angle-down" : "angle-up")</i>
                </div>

                <div class="fro-list-item-group__subitems">
                    <a href="/usermanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Nutzer</div>
                    </a>
                    <a href="/businessaccountmanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Geschäftskonten</div>
                    </a>
                    <a href="/productmanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Produkte</div>
                        </a>
                </div>
            </div>
            <div @onclick="ToogleServices" class="fro-list-item-group @(_servicesCollapsed ? "fro-list-item-group--collapsed" : "")">
                <div class="fro-list-item">
                    <i class="fro-list-item__icon fro-icon fro-icon--fixed">display-code</i>
                    <div class="fro-list-item__label">Dienste verwalten</div>
                    <i class="fro-list-item__after fro-icon">@(_servicesCollapsed ? "angle-down" : "angle-up")</i>
                </div>

                <div class="fro-list-item-group__subitems">
                    <a href="/scrapermanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Scraper</div>
                    </a>
                    <a href="/servermanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Server</div>
                    </a>
                </div>
            </div>
            <div @onclick="ToogleHosting" class="fro-list-item-group @(_hostingCollapsed ? "fro-list-item-group--collapsed" : "")">
                <div class="fro-list-item">
                    <i class="fro-list-item__icon fro-icon fro-icon--fixed">earth-americas</i>
                    <div class="fro-list-item__label">Hosting</div>
                    <i class="fro-list-item__after fro-icon">@(_hostingCollapsed ? "angle-down" : "angle-up")</i>
                </div>

                <div class="fro-list-item-group__subitems">
                    <a href="/websites" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Webseiten</div>
                    </a>
                    <a href="/domainmanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">Domain Management</div>
                    </a>
                    <a href="/seomanagement" class="fro-list-item fro-list-item--subitem">
                        <div class="fro-list-item__label">SEO</div>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <footer class="fro-sidebar__footer">
        <button @onclick="ToggleCollapse"
                class="fro-button fro-button--small fro-button--pill fro-button--icon-only fro-button--no-min-width fro-sidebar__footer-toggle">
            @if (!_isCollapsed)
            {
                <i class="fro-icon fro-icon--fixed">arrow-left-to-line</i>
            }
            else
            {
                <i class="fro-icon fro-icon--fixed">arrow_right_from_line</i>
            }
        </button>
    </footer>
</div>

@code {
    bool _userManagementCollapsed = true;
    bool _servicesCollapsed = true;
    bool _isCollapsed = false;
    bool _hostingCollapsed = true;
    
    async void ToggleCollapse()
    {
        _isCollapsed = !_isCollapsed;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ToggleUserManagement()
    {
        _userManagementCollapsed = !_userManagementCollapsed;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ToogleServices()
    {
        _servicesCollapsed = !_servicesCollapsed;
        await InvokeAsync(StateHasChanged);
    }
    private async Task ToogleHosting()
    {
        _hostingCollapsed = !_hostingCollapsed;
        await InvokeAsync(StateHasChanged);
    }
}